* {
    margin: 0;
    padding: 0;
}

pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera 4 - 6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
}

address {
    font-style: normal;
}

a img {
    border: none;
}

html,body {
    background-color: #F0F0F0;
    background-image: url(programy_files/bg_gradient.png);
    background-repeat: repeat-x;
    color: #666666;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    width: 100%;
}

:link,:visited {
    text-decoration: none;
}

a:link,a:visited,.important {
    color: #8B0304;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
}

.uwaga {
    color: #F00;
    font-weight: bold;
    text-align: center;
}

.doLewej {
    text-align: left;
}

.doPrawej {
    text-align: right;
}

.doSrodka {
    text-align: center;
}

.w05 {
    width: 5%;
}

.w1 {
    width: 10%;
}

.w2 {
    width: 20%;
}

.w3 {
    width: 30%;
}

.w4 {
    width: 40%;
}

.w5 {
    width: 50%;
}

p.bottom {
    float: left;
    height: 10px;
    width: 100%;
}

#centering {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#container {
    display: inline;
    float: left;
    width: 100%;
}

#upper_menu {
    width: 100%;
    height: 30px;
    background-color: #8B0304;
}


#upper_menu, #upper_menu :link,#upper_menu :visited {
    color: #FFFFFF;
    font-size: 11px;
}

#upper_menu :link,#upper_menu :visited {
    margin-left: 10px;	
}

#upper_menu span.left,#upper_menu span.right {
    margin-top: 8px;
}

#upper_menu span.left {
    float: left;
    margin-left: 5px;
}

#upper_menu span.right {
    float: right;
    margin-right: 15px;
}

#header {
    background-image: url(/programy_files/header_image.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 80px;
    width: 100%;
}

#main {
    background-image: url(programy_files/main_bg.png);
    background-repeat: repeat-y;
    float: left;
    width: 100%;
}

#menu {
    float: left;
    font-size: 11px;
    width: 195px;
}

#menu a {
    color: #666666;
}

#menu ul {
    list-style: none;
}

#menu li { 
    list-style-image: url(programy_files/menu_li_image.png);
    margin-left: 10%;
    margin-bottom: 3px;
    vertical-align: top;
    width: 88%;
}

#menu a.true {


}

#menu li.true {


}

#menu li.tekst {
    list-style-image: none;
    margin-left: 0;
}

#menu li.indeks, #menu li.tokStudiow, #menu li.kierunekStudiow {
    list-style-image: none;
}

#menu hr {
    border-style: outset;
    color: #cccccc;
    float: left;
    margin: 5px 0;
    width: 100%;
}

#content {
    clear: right;
    float: left;
    width: 765px;
}

#contentpadding {
    margin: 0 15px 0 10px;
    width: 740px;
}

#contentpadding h1,#contentpadding h2 {
    border-bottom: 1px solid #999999;
    float: left;
}

#contentpadding h1 {
    font-size: 18px;
    margin: 10px 0;
    padding-bottom: 5px;
    width: 100%;
}

#contentpadding h2 {
    font-size: 12px;
    width: 100%;
}

#contentpadding select {
    width: 100%;
}

#contentpadding div.blok {
    float: left;
    margin: 20px 2% 0 2%;
    width: 96%;
}

div.wciecie {
    float: left;
    margin: 0 1%;
    width: 98%;
}

div.kolumna {
    _clear: right;	/* _ dla IE 6 */
    float: left;
    margin: 0 1%;
    width: 48%;
}

p.pval {
    float: left;
    margin-top: 7px;
    width: 100%;
}

p.pval span.par {
    float: left;
    text-align: right;
    width: 49%;
}

p.pval span.val {
    float: right;
    font-weight: bold;
    text-align: left;
    width: 49%;
}

form p.pval span.par {
    text-align: right;
    width: 41%;
}

form p.pval span.val input {
    font-size: 11px;
}

form p.pval span.val {
    width:56%;
}

div.kolumna p.pval span.par {
    text-align: left;

}

div.kolumna p.pval span.val {

}

p.pval span.val select {
    width: 180px;	
}

div.iform  {
    border: 1px solid #9b9b9b;
    float: left;
    margin-top: 25px;
    width: 100%;
}

div.iform h3 {
    background-color: #515151;
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    font-weight: normal;
    padding: 3px 5px;
    width: 730px;
}

div.iform h3.jasny {
    background-color: #888;
}

div.info {
    float: left;
    font-size: 11px;
    padding: 2%;
    text-align: justify;
    width: 96%;
}

p {
    margin-bottom: 5px;
}

td.programWydzial{
    /*displa:none;*/
    /*color:red;*/
    /*size: 5px;*/
    width: 270px;
    text-align: left;
}

table.tabela {
    border-spacing: 1px;
    float: left;
    font-size: 10px;
    width: 100%;
}

table.tabelaRamka{
    float: left;
    font-size: 10px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

table.tabelaRamka td{
    border: 1px solid black;	
}

th.tabela-naglowek, td.tabela-stopka {
    background-color: #CCCCCC;
    padding: 2px;
}

td.tabela-stopka {
    text-align: right;
}

table.tabela tr {
    padding: 0;
    margin: 0;
}

table.tabela td {
    padding: 2px;
}

table.tabela input {
    font-size: 10px;
    width: 98%;
}

tr.rekord-nieparzysty {

}

tr.rekord-parzysty {
    background-color: #EEEEEE;
}

#footer {
    background-image: url(programy_files/bottom_shadow.png);
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    width: 100%;
}

.messages {
    border-width: 1px;
    border-style:  solid;
    border-color: #FFCC00;
    background-color: #FFF3AF;
    color: #00ff00;
    float: left;
    padding: 3px;	
    width: 100%;
}

.infoMessages {
    color: #00BB00;
}


.warnMessages {
    color: #FFAA00;
}

.errorMessages {
    color: #ff0000;
}

.errorMessage {
    color: #ff0000;
    float: left;
    font-size: 10px;
    font-weight: normal;
}
.WBudowie {
    font-size: 20px;
}




html,body, table, tr {
    border: 1px solid #666;
    /*border-spacing: 1px;*/
    border-spacing: 7px;

    font-size: 11px;
}

table.tabela {
    border: 1px solid #666;
    border-spacing: 1px;
    float: left;
    font-size: 10px;
}

th.tabela-naglowek, td.tabela-stopka {
    background-color: #CCCCCC;
    padding: 2px;
}
th {
    font-size: 11px;
    border-spacing: 5px;
    padding: 4px;
    border-bottom: 5px;
}
tr {

}

td {

    /*padding: 4px;*/
}
td.p {

    padding: 4px;

    text-align: left;
}

p.rotate {
    text-align: center;
    /*    -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        writing-mode: tb-rl;
        text-align: left;*/
}

td.b {
    /*border: 1px solid #666;*/
    height: 8em;

    padding: 1px;
    border: 1px solid #666;

    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
}


/*dodano dla potrzeb siatki efekt-wiedza*/



tr.rekord-parzysty {
    background-color: #EEEEEE;
}

table.tabela {
    border: 1px solid #666;
    border-spacing: 1px;
    float: left;
    font-size: 10px;
}


table.tabela_bez_ramki {
    border: 0px ;
    border-spacing: 2px;
    float: left;
    font-size: 20px;
    /*border-spacing: 10px;*/
    border-left:  10px;
}
td.odstep {
    padding-left: 20px;
}

th.tabela-naglowek, td.tabela-stopka {
    background-color: #CCCCCC;
    padding: 2px;
}

.rekord-nieparzysty {
    background-color: #EEE;
}


tr.bez_ramki {
    /*      border: 0px solid #666;
        border-spacing: 1px;
        border-spacing: 7px;
    
        font-size: 11px;*/
}

.listaWydzialow {
    padding: 5px;
    margin: 0;
}

.ImgFlagPL{
    background:url(programy_files/flags.gif) 0 -682px no-repeat;
    height:11px!important;
    overflow:hidden;
    width:14px!important;
    float: left;
}

.ImgFlagGB {
    background: url(programy_files/flags.gif) no-repeat scroll 0 -308px transparent;
    height: 11px !important;
    overflow: hidden;
    width: 16px !important;
    float: left;
}
ol li div {
        white-space: pre-line;
        margin-left:15px;
}